.policies {
    background-color: #f5f5f5;
    min-height: 100vh;

    &__title {
        color: #0971b0;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__subtitle {
        line-height: 23px;

        font-size: 18px;
        font-weight: 400;
    }
}